{% extends 'main/template.html' %}

{% block page-description %}Injustice 2 Guides. Move lists, combos and tips for characters.{% endblock %}

{% block title %}
Injustice 2 Guides
{% endblock %}

{% block content %}
<div class="page">
    <h2>News</h2>
    <br><br>
    <div class="news-article">
        <hr>
        <h4>01.11.2023</h4>
        <br>
        <p>
            This is the first version of this site. Right now, 'Characters' page has only Superman. The other characters don't have any information. <br><br>
            Superman page contains Move List table from the game, Key Moves for the character and Tips/Combos with video demonstration. <br><br>
            You can choose platform at the top. It changes button icons in input fields. <br><br>
            If you want to help, you can visit <a href="/help-the-project">this page.</a>
        </p>
        <hr>
    </div>
</div>
{% endblock %}